.DS_Store
.idea/
.vscode/
xcuserdata/

keystore.properties

web

# React Native
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# OSX
.DS_Store

# Android/IJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# Ruby / CocoaPods
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage
