name: Segment Editor CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - '.github/ISSUE_TEMPLATE/**'
      - 'assets/**'

permissions:
  actions: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        repository: intro-skipper/segment-editor-mobile
        submodules: recursive
        token: ${{ secrets.EDITOR_TOKEN }}

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Retrieve commit identification
      run: |
        GIT_BRANCH=$(git name-rev --name-only HEAD)
        echo "GIT_BRANCH=${GIT_BRANCH}" >> $GITHUB_ENV
        GIT_HASH=$(git rev-parse --short HEAD)
        echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV

    - uses: burrunan/gradle-cache-action@v3
      name: Build Release Gradle
      with:
        job-id: SegmentEditor
        build-root-directory: android
        # Specifies arguments for Gradle execution
        arguments: |
          --configure-on-demand
          assembleRelease
        # Gradle version to use for execution:
        #   wrapper (default), current, rc, nightly, release-nightly, or
        #   versions like 6.6 (see https://services.gradle.org/versions/all)
        gradle-version: wrapper
        # Properties are passed as -Pname=value
        properties: |
          org.gradle.unsafe.configuration-cache=true
          org.gradle.configuration-cache=true

    - name: List directory contents
      run: ls -R android/app/build/outputs/apk/release

    - uses: r0adkll/sign-android-release@v1
      name: Sign Release APK
      # ID used to access action output
      id: sign_main
      with:
        releaseDirectory: android/app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
        alias: "tagmo"
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
      env:
        # override default build-tools version (29.0.3) -- optional
        BUILD_TOOLS_VERSION: "34.0.0"

    - uses: actions/upload-artifact@v4
      with:
        name: Jellyfin Segment Editor ${{ env.GIT_HASH }}
        retention-days: 1
        path: ${{steps.sign_main.outputs.signedReleaseFile}}
