name: Segment Editor CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - '.github/ISSUE_TEMPLATE/**'
      - 'assets/**'

permissions:
  actions: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        repository: intro-skipper/segment-editor-mobile
        submodules: recursive
        token: ${{ secrets.EDITOR_TOKEN }}

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Retrieve commit identification
      run: |
        GIT_BRANCH=$(git name-rev --name-only HEAD)
        echo "GIT_BRANCH=${GIT_BRANCH}" >> $GITHUB_ENV
        GIT_HASH=$(git rev-parse --short HEAD)
        echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV

    - uses: burrunan/gradle-cache-action@v3
      name: Build Release Gradle
      with:
        job-id: SegmentEditor
        # Specifies arguments for Gradle execution
        arguments: |
          --configure-on-demand
          assembleGithubRelease
        # Gradle version to use for execution:
        #   wrapper (default), current, rc, nightly, release-nightly, or
        #   versions like 6.6 (see https://services.gradle.org/versions/all)
        gradle-version: wrapper
        # Properties are passed as -Pname=value
        properties: |
          org.gradle.unsafe.configuration-cache=true
          org.gradle.configuration-cache=true
